<ion-header>
  <ion-navbar>
    <ion-title *ngIf="chatTarget">{{chatTarget.userNickName + status}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let item of list">
    <div class="msgarea">
      <div [ngClass]="item.toId === userinfo._id ? 'other' : 'me'">
        <!--<img class="icon" src={{item.avatarSrc}}>-->
        <img class="icon" [src]="item.photo">
        <div class="msg">
          <span [ngClass]="item.toId === userinfo._id ? ' arrow_l_int' : ' arrow_r_int'"></span>
          <span [ngClass]="item.toId === userinfo._id ? ' arrow_l_out' : ' arrow_r_out'"></span> {{item.mes}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="input">
    <div class="input_layout">
      <img class="input_icon voice" src="assets/img/voice.png">
      <img class="input_icon face" src="assets/img/face.png">
      <img class="input_icon plus" src="assets/img/plus.png">
      <input class="input_text" [(ngModel)]="input_text" name="input_text" (input)="sendStatus('writing')" (blur)="sendStatus('blur')">
      <div class="send" (click)="sendMes()">发送</div>
    </div>
  </div>
</ion-content>
