
<ion-header>

  <ion-navbar>
    <ion-title>{{tempWork?.name}}</ion-title>

    <ion-buttons end *ngIf="canEdit">
      <button ion-button (click)="save()" >保存</button>
      <button ion-button (click)="callBack()" >撤銷</button>
    </ion-buttons>
    <ion-buttons end *ngIf="!canEdit">
      <button ion-button (click)="canEdit=true" >編輯</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="main">
  <div [class.layer]="!canEdit">
  </div>
  <form [formGroup]="todo" *ngIf="todo" #workform>
      <ion-item [class.has-error]="name.Error" [class.has-success]="name.pass">
          <ion-label>保養名稱</ion-label>
          <ion-input type="text" formControlName="name"
          #name (input)="check($event,name)" (focus)="name.Error=''"
          data-v-required="true"
          data-v-required-message="請輸入保養項目名稱"
          data-v-maxlength="20"
          data-v-maxlength-message="項目名稱長度超限"
          ></ion-input>
      </ion-item>
      <ion-item-divider *ngIf="name.Error" class='alert'>{{name.Error}}</ion-item-divider>

      <ion-item [class.has-error]="content.Error" [class.has-success]="content.pass">
          <ion-label>說明</ion-label>
          <ion-input type="text" formControlName="content"
            #content (input)="check($event,content)" (focus)="content.Error=''"
            data-v-required="true"
            data-v-required-message="請描述保養內容"
            data-v-betweenl="3-20"
            data-v-betweenl-message="描述內容長度不符"
          ></ion-input>
      </ion-item>
      <ion-item-divider *ngIf="content.Error" class='alert'>{{content.Error}}</ion-item-divider>

      <ion-item [class.has-error]="period.Error" [class.has-success]="period.pass">
          <ion-label>間隔週期</ion-label>
          <ion-input type="text" formControlName="period"
          #period (input)="check($event,period)" (focus)="period.Error=''"
          data-v-required="true"
          data-v-required-Message="請填入間隔週期"
          data-v-number="true"
          data-v-number-Message="請輸入整數"
          data-v-between="1-24"
          data-v-between-Message="請輸入1-24的整數"
          ></ion-input>
      </ion-item>
      <ion-item-divider *ngIf="period.Error" class='alert'>{{period.Error}}</ion-item-divider>

      <ion-item [class.has-error]="unit.Error" [class.has-success]="unit.pass">
          <ion-label>週期單位</ion-label>
          <ion-select formControlName="unit" cancelText="取消" okText="確認" #unit>
            <ion-option value="Week(周)">week(周)</ion-option>
            <ion-option value="Month(月)">month(月)</ion-option>
            <ion-option value="Year(年)">Year(年)</ion-option>
          </ion-select>
      </ion-item>
      <ion-item [class.has-error]="monthPlan.Error" [class.has-success]="monthPlan.pass">
          <ion-label>月(年)計劃</ion-label>
          <ion-select formControlName="monthPlan" cancelText="取消" okText="確認" #monthPlan>
            <ion-option value="Y">Yes</ion-option>
            <ion-option value="N">No</ion-option>
          </ion-select>
      </ion-item>
      <ion-item [class.has-error]="weekPlan.Error" [class.has-success]="weekPlan.pass">
          <ion-label>周計劃</ion-label>
          <ion-select formControlName="weekPlan" cancelText="取消" okText="確認" #weekPlan>
            <ion-option value="Y">Yes</ion-option>
            <ion-option value="N">No</ion-option>
          </ion-select>
      </ion-item>
      <button ion-button type="submit" (click)="tosubmit(workform,[name,content,period])" [disabled]="name.Error || content.Error || period.Error">提交</button>
  </form>
</ion-content>
