<ion-header>
  <ion-navbar>
    <ion-title class="page-title">
      <div>消息</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button large class="add">
           <ion-icon name='add'></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-list>
    <ion-item *ngFor="let item of messageListItem;let i = index;trackBy:trackBymessageListItem" (click)="goToMessageDetailPage(item,i)">
      <div item-left class="img-header">
        <img class="img" src={{item.toPhoto}}>
        <div class="badge" *ngIf="item.unreadCount > 0">{{item.unreadCount}}</div>
      </div>
      <h2 class="name">{{item.toName}}</h2>
      <p class="msg">{{item.mes[item.mes.length-1].type === 'P'? '图片':item.mes[item.mes.length-1].content}}</p>
      <ion-note item-right>{{item.mes[item.mes.length-1].time | chatTime}}</ion-note>
    </ion-item>
  </ion-list>
  <!--<button (click)="sendMsg()">send</button>-->
</ion-content>
